.footer {
    background-color: #333;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
  }
  
  .footer-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .footer-links li a {
    text-decoration: none;
    color: #ff80ab;
  }
  
  .footer-social a {
    margin: 0 10px;
    color: #ff80ab;
    text-decoration: none;
  }
  
  .footer-bottom {
    margin-top: 2rem;
    font-size: 0.9rem;
  }
  