.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo translúcido */
  padding: 15px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo img {
  height: 60px;
  transition: transform 0.3s;
}

.navbar-logo img:hover {
  transform: scale(1.1);
}

.navbar-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
  font-size: 16px;
  color: #5a5a5a;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 4px;
  transition: all 0.3s;
}

.navbar-links a:hover {
  color: #d81b60;
}

.navbar-active {
  background-color: #f06292;
  color: white;
  box-shadow: 0 4px 8px rgba(216, 27, 96, 0.3);
}

.navbar-auth {
  display: flex;
  gap: 15px;
}

.navbar-auth button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-login {
  background-color: #f8bbd0;
  color: #880e4f;
}

.btn-login:hover {
  background-color: #f48fb1;
}

.btn-register {
  background-color: #f06292;
  color: white;
}

.btn-register:hover {
  background-color: #e91e63;
}
